
		<header>
			<nav>
				<ul class="menu_top">
					<li class="menu_item left" id="logo">
						Logo
					</li>

					<li class="menu_item left">
						About
					</li>

					<li class="menu_item left">
						Como funciona?
					</li>

					<li class="menu_item left">
						Pruebalo
					</li>

					<li class="menu_item right" id="user_settings">
						Log
					</li>

					<li class="menu_item right" id="Log">
						User
					</li>
				</ul>
			</nav>
		</header>

		