// Place all the styles related to the agrofunders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-group {
	flex: 8;
	overflow-y: scroll;
}

.panel-heading{
		background-color:#ECF1EF;
}

.panel-heading:hover {
	background-color: rgba(255,170,0, 0.6);

	a:link {
		text-decoration: none;
	}
}

.clearfix {
 	clear: both;
 }

.admin-container {
	display: flex;
	flex-direction: column;
	display: -webkit-flex;
	width: 100vw;
	height: 100vh;
	background-color: grey;
	background-image: url('/pattern6.jpg');
}
